{% extends "content.html" %}
{% comment %}
Everythin inside this block in commented out
This is purely for comments

{% endcomment %}


{% load django_markdown %}
{% load embed_video_tags %}

{% block blog_entries %}

<div class='post-outer'>
  <article class='post hentry'>
    <header class='entry-header'>
      <h1 class='post-title entry-title'>
        <a href="{% url "event_detail" slug=object.slug %}">{{ object.title }}</a>
      </h1>
    </header>
    <div class='post-header-line-1'></div>
    <div class='post-body entry-content'>
      <div id='{{object.entry_id}}'>
        <hr/><h4>Event Date: {{object.event_date}}</h4>
        <!--<div class="separator" style="clear: both; text-align: center;">
          {% video object.video as my_video %}
          {% video my_video "medium" %}
          {% endvideo %}
        </div> -->
        <div>{{ object.details|markdown }}</div>
      </div>
      <div style='clear: both;'></div>
    </div>
  </article>
  <div style='clear: both;'></div>
</div>
<div class='widget-area' id='secondarypart' role='complementary'>
  <div class='sidebar section' id='sidebartop'>
    <div class='widget PopularPosts' data-version='1' id='PopularPosts1'>
      <h2>Upcoming events</h2>
      <div class='widget-content popular-posts'>
        <ul>
          {% for object in event_list %}
          <!-- start of a upcoming event -->
          <li>
            <div class='item-content'>
              <div class='item-title'>
                <a href="{% url "event_detail" slug=object.slug %}">{{ object.title }}</a>
              </div>
            </div>
            <div style='clear: both;'></div>
          </li>
          <!-- end of a upcoming event -->
          {% endfor %}
        </ul>
        <div class='clear'></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
