{% extends "content.html" %}
{% comment %}
Everythin inside this block in commented out
This is purely for comments

{% endcomment %}


{% load django_markdown %}
{% load embed_video_tags %}

<div class='content-area' id='primarypart'>
<div class='site-main' id='maincontentarea' role='main'>
<div class='mainblogsec section' id='mainblogsec'>
  <div class='widget Blog' data-version='1' id='Blog1'>
    <div class='blog-posts hfeed'>

  {% block blog_entries %}
  {% for object in entry_list %}

  <div class='post-outer'>
    <article class='post hentry'>
      <!--<a name='1145437796717184415'></a> -->
      <header class='entry-header'>
        <h1 class='post-title entry-title'>
          <a href="{% url "entry_detail" slug=object.slug %}">{{ object.title }}</a>
        </h1>
        <div class='entry-meta'>
          <i class='fa fa-tachometer'></i>
          {{ object.created }}	&nbsp;&nbsp; | Tagged under {{object.tags.all|join:", "}}
          <!-- TODO comments to be handled later       <i class='fa fa-comment'></i>
          <a href='http://typefocus-theme.blogspot.com/2010/09/sample-post-with-links-paragraphs-and.html#comment-form' onclick=''>1 comment</a> -->
        </div>
      </header>
      <div class='post-header-line-1'></div>
      <div class='post-body entry-content'>
        <div id='{{object.entry_id}}'>
          <div class="separator" style="clear: both; text-align: center;">
            {% video object.video as my_video %}
            {% video my_video "320x240" %}
            {% endvideo %}
          </div>
          <div>{{ object.body|markdown }}</div>
        </div>
        <script type='text/javascript'>createSummaryAndThumb('{{object.entry_id}}');</script>
        <div style='float:right;padding-right:0px;margin-top:10px;'>
          <a class='continue-reading' href="{% url "entry_detail" slug=object.slug %}">Continue reading &rarr;</a>
        </div>
        <div style='clear: both;'></div>
      </div>
    </article>
    <div style='clear: both;'></div>
  </div>

  {% endfor %}
  <!--Beggining of first article -->
  <div style='clear: both;'></div>
  <div class='blog-pager' id='blog-pager'>
    <span id='blog-pager-older-link'>
      {% if is_paginated %}
      <ul class="pagination">
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        <br/>
        {% if page_obj.has_previous %}
        <li><a href='/?page={{ page.obj.previous_page_number }}'>❮</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="/?page={{ page_obj.next_page_number }}">❯</a></li>
        {% endif %}
      </ul>
      {% endif %}
    </span>
  </div>

  </div> <!-- 'blog-posts hfeed' -->

    <div class='widget-area' id='secondarypart' role='complementary'>
      <div class='sidebar section' id='sidebartop'>
        <div class='widget PopularPosts' data-version='1' id='PopularPosts1'>
          <h2>Upcoming events</h2>
          <div class='widget-content popular-posts'>
            <ul>
              {% for object in event_list %}
              <!-- start of a upcoming event -->
              <li>
                <div class='item-content'>
                  <div class='item-title'>
                    <a href="{% url "event_detail" slug=object.slug %}">{{ object.title }}</a>
                  </div>
                </div>
                <div style='clear: both;'></div>
              </li>
              <!-- end of a upcoming event -->
              {% endfor %}
            </ul>
            <div class='clear'></div>
          </div>
        </div>
      </div>
    </div>
  <div class='clear'></div>
  <script type="text/javascript">window.___gcfg = {'lang': 'en'};</script>
  </div><!-- #maincontentarea -->
  </div><!-- #primarypart -->

  {% endblock %}
